In [60]:
import sqlite3

In [61]:
connection = sqlite3.connect('OurDataBase.db')

In [62]:
cursor = connection.cursor()

In [10]:
#SQL Data Types
#INTEGER
#FLOAT
#TEXT
#BLOBS (Binary Large Objects)
#NULL

In [11]:
cursor.execute('CREATE TABLE employees(name TEXT, surname TEXT, salary REAL)')

OperationalError: table employees already exists

In [12]:
connection.commit()

In [13]:
cursor.execute("INSERT INTO employees VALUES('POLO', 'HOSSAINI', 100000)")

In [14]:
connection.commit()

In [15]:
cursor.execute('SELECT * FROM employees')

In [16]:
cursor.fetchone()
#cursor.fetchall()

('POLASH', 'HOSSAIN', 100000.0)

In [17]:
for i in cursor.execute('SELECT * FROM employees'):
    print(i)

('POLASH', 'HOSSAIN', 100000.0)
('POLO', 'HOSSAINI', 100000.0)
('POLO', 'HOSSAINI', 100000.0)

In [18]:
# name = 'King'
# # surname = 'Wde'
# # salary = 50000# 

name = input('Provide a name: ')
surname = input('Provide a surname: ')
salary = float(input('Provide a salary: '))

KeyboardInterrupt: Interrupted by user

In [19]:
cursor.execute("INSERT INTO employees VALUES (?,?,?)", (name, surname, salary))

In [20]:
cursor.execute("SELECT * FROM employees")

In [21]:
cursor.fetchall()

[('POLASH', 'HOSSAIN', 100000.0),
 ('POLO', 'HOSSAINI', 100000.0),
 ('POLO', 'HOSSAINI', 100000.0),
 ('', 'Siddiquee', 120000.0)]

In [22]:
class SQLinput:
    def __init__(self, name, surname, salary):
        self.name = name
        self.surname = surname
        self.salary = salary

In [23]:
inst = SQLinput('Wadia', 'Siddiquee', 120000)

In [24]:
name, surname, salary = inst.name, inst.surname, inst.salary

In [41]:
# cursor.execute("INSERT INTO employees VALUES (?,?,?)", (name, surname, salary))

In [42]:
cursor.execute("SELECT * FROM employees")

In [43]:
cursor.fetchall()

[('POLASH', 'HOSSAIN', 100000.0),
 ('POLO', 'HOSSAINI', 100000.0),
 ('POLO', 'HOSSAINI', 100000.0),
 ('', 'Siddiquee', 120000.0),
 ('Wadia', 'Siddiquee', 120000.0)]

### Pandas DataFrame and SQL

In [63]:
import sqlite3
import pandas as pd
import sqlalchemy

In [64]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (2.0.37)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)

In [65]:
engine = sqlalchemy.create_engine('sqlite:///OurDataBase.db')

In [66]:
pd.read_sql('employees', engine)

     name   surname    salary
0  POLASH   HOSSAIN  100000.0
1    POLO  HOSSAINI  100000.0
2    POLO  HOSSAINI  100000.0

In [67]:
df1 = pd.DataFrame([{'name': 'Tania', 'surname': 'Nasrin', 'salary': 100000}])

In [68]:
df1

    name surname  salary
0  Tania  Nasrin  100000

In [69]:
df1.to_sql('employees', engine, if_exists = 'append', index = False)
#df1.to_sql('employees', engine, if_exists = 'replace', index = False) will replace whole table!

OperationalError: (sqlite3.OperationalError) database is locked
[SQL: INSERT INTO employees (name, surname, salary) VALUES (?, ?, ?)]
[parameters: ('Tania', 'Nasrin', 100000)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [70]:
pd.read_sql('employees', engine)

     name   surname    salary
0  POLASH   HOSSAIN  100000.0
1    POLO  HOSSAINI  100000.0
2    POLO  HOSSAINI  100000.0

In [74]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (0.2.52)
Requirement already satisfied: pandas>=1.3.0 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (5.2.2)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (4.2.1)
Requirement already satisfied: pytz>=2022.5 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (3.17.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\surface\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (2024.12.14)

In [77]:
import yfinance as yf

In [78]:
df = yf.download('GME', start = '2021-01-01')

[*********************100%***********************]  1 of 1 completed

In [79]:
df

Price           Close       High        Low       Open    Volume
Ticker            GME        GME        GME        GME       GME
Date
2021-01-04   4.312500   4.775000   4.287500   4.750000  40090000
2021-01-05   4.342500   4.520000   4.307500   4.337500  19846000
2021-01-06   4.590000   4.745000   4.332500   4.335000  24224800
2021-01-07   4.520000   4.862500   4.505000   4.617500  24517200
2021-01-08   4.422500   4.575000   4.270000   4.545000  25928000
...               ...        ...        ...        ...       ...
2025-01-14  27.879999  31.680000  27.559999  31.260000  11796600
2025-01-15  27.959999  29.330000  27.840000  28.900000   6025400
2025-01-16  27.719999  28.139999  27.410000  27.940001   4432000
2025-01-17  27.510000  28.790001  27.020000  27.610001   8977500
2025-01-21  27.469999  27.570000  26.330000  27.400000   5804800

[1017 rows x 5 columns]

In [80]:
df.to_sql('GME', engine)

OperationalError: (sqlite3.OperationalError) database is locked
[SQL:
CREATE TABLE "GME" (
	"Date" DATETIME,
	"('Close', 'GME')" FLOAT,
	"('High', 'GME')" FLOAT,
	"('Low', 'GME')" FLOAT,
	"('Open', 'GME')" FLOAT,
	"('Volume', 'GME')" BIGINT
)

]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [81]:
pd.read_sql('GME', engine)

OperationalError: (sqlite3.OperationalError) near "GME": syntax error
[SQL: GME]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [1]:
import sqlalchemy
import yfinance as yf
import pandas as pd

In [3]:
tickers = pd.read_html(
    'https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average'
)[1]

In [6]:
tickers.columns

Index([0, 1], dtype='int64')

In [4]:
tickers = tickers.Symbol.to_list()

AttributeError: 'DataFrame' object has no attribute 'Symbol'

In [7]:
# Check the columns in your DataFrame
print(tickers.columns)

# If 'Symbol' is not in the columns, use the correct column name
#tickers = tickers['YourColumnName'].to_list()

Index([0, 1], dtype='int64')

In [8]:
tickers = tickers['].to_list()

KeyError: 'index'